.list-back:hover {
    box-shadow: rgb(90, 90, 90) 1.95px 1.95px 2.6px;
}

.list-back {
    width: 92%;
    height: 750px;
    background-color: white;
    border-radius: 1rem;
    margin-left: 2%;
    transition: box-shadow 0.3s ease-in-out;
    opacity: 0.7;
    border: 10px solid rgb(248, 215, 253);
    position: relative;
}

.todo-title {
    text-align: center;
    border-radius: 0.5rem;
    background-color: #a5a2e0;
    width: 280px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
}

.text-box {
    text-align: center;
}

.text-search {
    border-radius: 1rem;
    width: 60%;
    height: 20%;
    text-align: center;
    font-size: 25px;
    border-color: #9796f0;
    margin: 10px auto;
    opacity: 1;
}

.list {
    /* 리스트 스크롤 */
    overflow: auto;
    width: 150%;
    height: 650px;
    margin-right: 3%;
    border-radius: 1rem;
    opacity: 1;
}

button {
    color: black;
    border: none;
    float: right;
    border-radius: 50%;
}

ul {
    margin: 10px 0;
    text-align: center;
    padding: 0 10px;
    opacity: 1;
}

.btn {
    border: none;
    border-radius: 10px;
    background: linear-gradient(#e9adff, #ffffff);
    box-shadow: 8px 8px 16px #e3afff, -8px -8px 16px #fff3ff;
    color: rgb(136, 0, 248);
    font-weight: 700;
    line-height: 20px;
}

.btn:hover {
    border-radius: 10px;
    box-shadow: inset 5px 5px 19px #dadada, inset -5px -5px 19px #ff82ff;
    cursor: pointer;
}

li {
    display: block;
    justify-content: space-between;
    text-align: left;
    font-weight: bold;
    margin: 1px auto;
    padding: 7px 10px;
    border-radius: 1rem;
    color: black;
    background: #ffffff;
    background-color: rgba(255, 211, 254);
    box-shadow: -2px -3px 7px #ffffff;
    transition: box-shadow 0.3s ease-in-out;
}

li:hover {
    box-shadow: inset rgb(90, 90, 90) 1.95px 1.95px 2.6px;
    cursor: pointer;
}